$blur: 7px; //Background blur


.bg {
  background-image: url("../assets/background.png");
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur($blur);
  -webkit-filter: blur($blur);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
