button {
  cursor: pointer;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 1.5rem 1rem;
  background-color: white;
  border-style: none;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  filter: drop-shadow(8px 8px 1px #e4e4e4);
  transition: 0.1s;

  &:hover {
    border-radius: 0.2rem;
    filter: drop-shadow(1px 1px 1px #e4e4e4);
  }
}

.btn1 {
  background-color: var(--discord);
  filter: drop-shadow(8px 8px 1px #2b3492);
  &:hover {
    filter: drop-shadow(1px 1px 1px #2b3492);
  }
}
.btn2 {
  background-color: var(--yellow);
  filter: drop-shadow(8px 8px 1px #666008);
  &:hover {
    filter: drop-shadow(1px 1px 1px #666008);
  }
}
.btn3 {
  background-color: var(--green);
  filter: drop-shadow(8px 8px 1px #154b03);
  &:hover {
    filter: drop-shadow(1px 1px 1px #154b03);
  }
}

@media screen and (max-width: 800px) {
  .buttons {
    width: 80px;
  }
}
