:root {
  --gray: #d8d8d8;
  --green: #3fd50f;
  --yellow: #ecc900;
  //Social colours
  --discord: #5865f2;
  --instagram1: #cf0057;
  --instagram2: #8a2bc9;
  --instagram3: #f2ae4a;
  --tiktok: #e71c4f;
  --youtube: #f70f17;
  --facebook: #4064ac;
  --twitch: #9046ff;
}
